extends ./_layout/_default
block vars
  -
    page = {
      classes: 'top'
    };
block main
  .contents
    main
     - for(var i = 0; i < 5; i++)
        section(id=`section0${i + 1}` class=`section0${i + 1}`)
          .inner #{`section0${i + 1}`}
     include ./_template/_button
     include ./_template/_loader