extends ./_layout/_default
block vars
  -
    page = {
      classes: 'top'
    };
block main
  .contents
    main(id='main')
     - for(var i = 0; i < 5; i++)
        section.section
          .inner
     include ./_template/_button
     include ./_template/_loader